{{> header }}

<section class="container">
	<h1>Your tasks</h1>

	<ul>
		{{> item description='Task description here...' }}
		{{> item description='Task description here...' }}
		{{> item description='Task description here...' }}
	</ul>
</section>

{{> footer }}