<li>
	<input type="checkbox" onchange="handleCheck(this)">
	<span>
		{{ description }}
	</span>
</li>

<script defer>
	/**
	* Lida com a ação de marcar uma caixa de seleção de uma tarefa.
	* @param {Element} e Elemento que chamou a função (input).
	*/
	function handleCheck(e) {
		e.nextElementSibling.classList.toggle('concluded');
	}
</script>