<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="static/css/reset.css" />
	<link rel="stylesheet" href="static/css/pattern.css" />
	<link rel="stylesheet" href="static/css/style.css" />
	<link rel="stylesheet" href="static/css/responsive.css" />
</head>

<body>

	{{{ body }}}

</body>

</html>